        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            overflow-x: hidden;
        }
        
        h1 {
    text-align: center;
    position: relative;
}

h1::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 600px;
    width: 40px;
    height: 3px;
    background-color: green;
}

        .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
        }

        .image-container {
            position: relative;
            flex-basis: calc(50% - 20px);
            height: 300px;
            overflow: hidden;
            cursor: pointer;
        }

        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
        }

        .image-container:hover img {
            transform: scale(1.1);
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .image-container:hover .overlay {
            opacity: 1;
        }

        .overlay-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            color: #fff;
            text-align: center;
        }

        h2 {
            margin: 0;
            font-size: 1.5rem;
            font-weight: normal;
        }

        .cover-image {
            width: 100%;
            height: 400px;
            margin-bottom:20px;
            margin-top: 5px;
            position: relative;
        }

        .cover-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .cover-image .overlay {
            opacity: 1;
        }
        
        .cover-image .overlay-content {
            opacity: 1;
        }

        @media (max-width: 768px) {
            .image-container {
                flex-basis: 100%;
                height: 200px;
            }
        }